# fw_printenv and fw_setenv configuration
#
# This is only used for storing firmware metadata on this platform. Even though
# the Beaglebone uses U-Boot, U-Boot is configured to use the uenv.txt file as
# it does upstream at beagleboard.org.
#
# See fwup.conf for offset and size

# Device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/mmcblk0	0x100000	0x2000		0x200			16

