# boardid.config

# Read the serial number from the U-boot environment block. The variable
# "nerves_serial_number" is the desired variable to use. "serial_number" is
# checked as a backup.
-b uboot_env -u nerves_serial_number
-b uboot_env -u serial_number

# Use the serial number programmed into the EEPROM. All official
# Beagleboard.org hardware supports this.
-b bbb -n 4

# Use the serial number reported in /proc/cpuinfo. This works on
# the TI AM3358 SDK and derivatives.
-b cpuinfo -n 4

# Use the MAC address of the first Ethernet port. This is useful for
# custom boards that don't include the EEPROM or leave it unprogrammed.
-b macaddr -n 4
